<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1111
    </ion-title>
  </ion-toolbar>
</ion-header>
texte
<div id="map" class="map"></div>
<ion-content [fullscreen]="true">
    MON TEX6TE
    <div id="map" class="map"></div>
    <!-- comment -->
    <!-- comment -->
    
    
  <ion-header collapse="condense">
    <ion-toolbar>
        texte
      <ion-title size="large">Tab 1</ion-title>
         
    </ion-toolbar>
  </ion-header>
    <table><tr><td>{{lat1}}</td><td>{{lat2}}</td></tr><tr><td>{{lng1}}</td><td>{{lng2}}</td></tr><tr *ngIf="!lat2">sélectionnez votre départ<button (click)="arrivee()">arrivee</button></tr><tr *ngIf="lat2">sélectionnez votre arrivée <button (click)="depart()">depart</button></tr><tr>  <button *ngIf="trajetbutton" (click)="savetrajet()">garder le trajet</button></tr>
   <div [formGroup]="mainForm"> <tr>
        <ion-input aria-label="depart" type="text" formControlName="address1" placeholder="départ" ></ion-input><button (click)="changedepart();">modifier le départ</button>
        <!-- comment --></tr><tr><ion-input aria-label="arrivee" type="text" formControlName="address2" placeholder="arrivée" ></ion-input><button (click)="changearrivee();">modifier l'arrivée</button><input type="submit"/></tr></div>
    
    </table>

     <app-explore-container name="Tab 1 page">
         
         texte
     </app-explore-container>
</ion-content>
