<ion-header>
  <ion-toolbar>
    <ion-title>Votre trajet</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
       
  
  <p>voici le trajet : {{ trajet }}</p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
            
      <ion-content class="ion-padding">
             
         <div [formGroup]="mainForm">
                <ion-input aria-label="lat1" type="hidden" placeholder="départ" formControlName="lat1"></ion-input>
                <ion-input aria-label="lng1" type="hidden" placeholder="départ" formControlName="lng1"></ion-input>
                <ion-input aria-label="lat2" type="hidden" placeholder="départ" formControlName="lat2"></ion-input>
                <ion-input aria-label="lng2" type="hidden" placeholder="départ" formControlName="lng2"></ion-input>
       
        <ion-item>
          <ion-label position="stacked">Entrez le nom de votre départ</ion-label>
          <ion-input aria-label="address1"  type="text" placeholder="départ" formControlName="address1"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="stacked">Entrez le nom de votre destination</ion-label>
            <ion-input aria-label="address2" type="text" placeholder="arrivée" formControlName="address2"></ion-input>
        </ion-item>
          </div>
      </ion-content>
            
    </ng-template>
     
  </ion-modal>
   <ion-button id="open-modal" expand="block">continuer</ion-button>
</ion-content>
<ion-footer>
     <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">retour</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
</ion-footer>